/* 
 * Inspired by https://redlib.jennin.xyz/r/unixporn/comments/1butx4h/hyprland_setup_for_my_university/
 * Copied from https://github.com/dpgraham4401/.dotfiles/blob/bb17ba797ccc13685f4f159cb7c6c20feaa0b324/sway/.config/waybar/style.css
 * TODO inactive color for pulseaudio, bluetooth, wifi, ...
 */

 @define-color bg_color rgba(100, 100, 100, 0.4);
 @define-color bg_inactive rgba(20, 20, 20, 0.4);
 @define-color fg_inactive rgb(128, 128, 128);

 * {
    border: none;
    font-family: Cantarell, "Font Awesome", Roboto, Arial, sans-serif;
    font-size: 14px;

    color: #FFFFFF;
    border-radius: 15px;
    transition: all 0.3s ease-in-out;
}

window#waybar {
    background: rgba(0, 0, 0, 0);
}

.module {
    padding: 0 10px;
    margin: 2px 2px 0 2px;
}

.modules-right {
    font-weight: bold;
}

/*-----modules indv----*/

#workspaces button {
    padding: 0 8px;
    margin: 2px;
    background: @bg_inactive;
    color: @fg_inactive;
    font-weight: 400;
    opacity: 0.4;
}

#workspaces button:hover {
    box-shadow: inherit;
}

#workspaces button.hover,
#workspaces button.active {
    color: white;
    opacity: 1;
    background: rgba(20, 20, 20, 0.6);
}

#workspaces button.active {
    padding: 0 16px;
    font-weight: 700;
}

#cpu,
#memory,
#temperature {
    padding: 0 10px;
    background: @bg_inactive;
}

#clock,
#network,
#battery,
#pulseaudio,
#custom-media,
#tray,
#mode,
#custom-power,
#custom-menu,
.modules-left,
#power-profiles-daemon {
    padding: 0 10px;
    background: @bg_color;
}
#mode {
    color: #cc3436;
    font-weight: bold;
}
/*-----Indicators----*/
#bluetooth.disabled,
#bluetooth.off,
#idle_inhibitor.deactivated {
    background: @bg_inactive;
    color: @fg_inactive;
}

#bluetooth.on,
#idle_inhibitor.activated {
    background: @bg_color;
}

#pulseaudio.muted {
    color: #cc3436;
}
#battery.charging {
    color: #2dcc36;
}
#battery.warning:not(.charging) {
	color: #e6e600;
}
#battery.critical:not(.charging) {
    color: #cc3436;
}
#temperature.critical {
    color: #cc3436;
}
