#window {
  background: rgba(20, 20, 20, 0.8);
  border-radius: 10px;
  font-size: 18px;
}

#input {
  background: rgba(20, 20, 20, 0.8);
  padding: 10px;
  color: white;
}

#entry {
  padding: 10px 0;
}

#entry:selected {
  outline: none;
  background: none;
  border-right: 3px solid #EEEEEE;
}

#text:not(:selected) {
  color: #888;
}

#text:selected {
  color: #FFF;
}
